<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="row">
  <div class="col-12">
    <% unless notice == nil %>
    <div class="alert alert-info show fade in" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <!-- top bar buttons -->
    <div class="row">
      <div class="col-6">
        <%= link_to '', '#',:name => 'Refresh', :class => "btn btn-default glyphicon glyphicon-refresh pull-left", :onClick  => "location.reload();" %>
      </div>

      <div class="col-6 ">
        <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
        <%= link_to '', edit_room_path(@room, :launch_nonce => @launch_nonce), :name => t('default.room.edit'), :class => "btn btn-default glyphicon glyphicon-edit pull-right" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- room -->
  <div class="row">
    <div class="col-12">
      <h1><%= @room.name %></h1>

      <h3><%= @room.description %></h3>
      <% visible = "display: none;" %>
      <div class = "pull-left">
        <%= button_tag t('default.room.join'), :type => 'button', :class => "btn btn-primary", id: 'join-room-btn', data: {url: meeting_join_path(@room, :launch_nonce => @launch_nonce), room: @room.id} %>
        
        <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
          <% if meeting_running? %>
            <% meeting_info_dict = meeting_info %>
            <% elapsedTime = elapsed_time(meeting_info_dict[:startTime], DateTime.now) %>
            <% pplPresent = meeting_info_dict[:participantCount] %>
            <% if pplPresent == 1 %>
              <% pplprson = "person" %>
            <% else %>
              <% pplprson = "people" %>
            <% end %>
            <% visible = nil %>
          <% end %>  
          <%= button_tag t('default.room.endmeeting'), :type => 'button', :class => "btn btn-danger", id: 'end-meeting-btn', style: visible, data: {url: meeting_end_path(@room, :launch_nonce => @launch_nonce), room: @room.id} %>
        <% end %> 
      </div>

      <div class = "pull-left" style = "margin-left: 5px; margin-top: 5px"> 
        <p id= "meeting-info-msg" style = "<%= visible %>" > 
          <span id="num-ppl-in-meeting-elem"> <%= pplPresent %> </span>
          <span id="ppl-or-person-elem"> <%= pplprson %> </span>
          present. The session has been running for 
          <span id="elapsed-time-elem"> <%= elapsedTime %> </span> 
          seconds.
        </p>
      </div>
   
      <%= content_tag(:p, t('default.room.waitmodmsg'), :style => "display:none;", id: 'wait-for-mod-msg') %>
  
    </div>
  </div>

  <!-- recordings -->
  <%= render "shared/components/search_bar", subtitle: t("default.room.recordings") %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div>
          <table class="table table-hover table-outline table-vcenter text-wrap card-table">
            <thead>
              <tr>
                <th><%= t("default.recording.table.formats") %></th>
                <th class="col-md-2"><%= t("default.recording.table.name") %></th>
                <th class="col-md-4"><%= t("default.recording.table.description") %></th>
                <th class="col-md-2"><%= t("default.recording.table.date") %></th>
                <th class="col-md-1"><%= t("default.recording.table.duration") %></th>
                <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
                  <th class="text-center col-md-1"><%= t("default.recording.table.actions") %></th>
                <% end %>
              </tr>
            </thead>
            <tbody id="recording-table">
              <tr id="no_recordings_found" style="display: none;">
                <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
                  <%= t("default.recording.no_matched_recordings", inject: only_public ? t("default.recording.visibility.public").downcase + " "  : "") %>
                </td>
              </tr>
              <% if recordings.empty? %>
                <tr>
                  <td colspan="7" class="text-center h4 p-6 font-weight-normal">
                    <%= t("default.recording.no_recordings", inject: only_public ? t("default.recording.visibility.public").downcase + " "  : "") %>
                  </td>
                </tr>
              <% else %>
                <% recordings.each do |recording| %>
                  <% if only_public %>
                    <%= render "shared/components/public_recording_row", recording: recording %>
                  <% else %>
                    <%= render "shared/components/recording_row", recording: recording %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
