<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

	<% room = @room.use_shared_code ? @shared_room : @room %>
	<div id="chosenRoomId" ></div>

  <div id="access-alert" style="background-color: #fffacd;" class="mb-4 p-4 rounded-lg hidden">
   
    <h4><b><%= t('warning.cookies.title')%></b></h4>
    <h5> <%= t('warning.cookies.message')%> <b> <%= t('warning.cookies.emphasis')%> </b> </h5>

    <button type="button" id="accept-btn" style="background-color: black; border-color: black" class="border border-black text-white bg-black hover:bg-slate-200 rounded-lg p-2 mt-2" ><%= t('warning.cookies.continue')%> </button>
      
  </div>

  <div class="">
      <% unless flash.alert.nil?%>
      <!-- error -->
      <div id="alert-3" class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium text-green-700 dark:text-green-800">
          <%= flash.alert %>
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-red-200 dark:text-red-600 dark:hover:bg-red-300" data-dismiss-target="#alert-3" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
      <% end %> 
      <!-- success -->
      <% unless notice == nil %>
        <div id="alert-3" class="flex p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200" role="alert">
          <div class="ml-3 text-sm font-medium text-green-700 dark:text-green-800">
          <%= notice %>
            </div>
          <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-green-200 dark:text-green-600 dark:hover:bg-green-300" data-dismiss-target="#alert-3" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </div>
      <% end %>
  </div>

  <% visible = "display: none;" %>
  <% if @meeting_running %>
    <% elapsedTime = elapsed_time(@meeting_info[:startTime], DateTime.now) %>
    <% pplPresent = @meeting_info[:participantCount] %>
    <% if pplPresent == 1 %>
      <% pplprson = "person" %>
    <% else %>
      <% pplprson = "people" %>
    <% end %>
    <% visible = "display: inline;" %>
  <% end %>

<!-- Row 1: Meeting info and edit link -->
  <div class="">
    <div class="font-sans flex justify-between flex-row-reverse">  
      <!-- Link to edit -->
      <div>
        <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
          <%= link_to t('default.room.edit'), edit_room_path(@room, :launch_nonce => @launch_nonce), :name => t('default.room.edit'), :class => "text-bbb-blue font-semibold  font-sans hover:text-white hover:bg-blue-400 " %>
        <% end %>
      </div>

      <!-- Meeting info -->
      <div class="flex items-start text-green-700" style = "<%= visible %>" id = "meeting-info-msg">
        <div class="flex rounded-full bg-green-200 py-1 px-3">
          <div class="mr-2 animate-pulse ">
            <svg class="icon icon-tabler icon-tabler-live-photo" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="12" r="5" />
              <line x1="15.9" y1="20.11" x2="15.9" y2="20.12" />
              <line x1="19.04" y1="17.61" x2="19.04" y2="17.62" />
              <line x1="20.77" y1="14" x2="20.77" y2="14.01" />
              <line x1="20.77" y1="10" x2="20.77" y2="10.01" />
              <line x1="19.04" y1="6.39" x2="19.04" y2="6.4" />
              <line x1="15.9" y1="3.89" x2="15.9" y2="3.9" />
              <line x1="12" y1="3" x2="12" y2="3.01" />
              <line x1="8.1" y1="3.89" x2="8.1" y2="3.9" />
              <line x1="4.96" y1="6.39" x2="4.96" y2="6.4" />
              <line x1="3.23" y1="10" x2="3.23" y2="10.01" />
              <line x1="3.23" y1="14" x2="3.23" y2="14.01" />
              <line x1="4.96" y1="17.61" x2="4.96" y2="17.62" />
              <line x1="8.1" y1="20.11" x2="8.1" y2="20.12" />
              <line x1="12" y1="21" x2="12" y2="21.01" />
            </svg>
          </div>
          <p class="text-base font-semibold ">
            <span id="elapsed-time-elem"> <%= elapsedTime %> </span>&nbsp;&nbsp;&middot;&nbsp;
            <span id="num-ppl-in-meeting-elem"> <%= pplPresent %> </span> 
            <span id="ppl-or-person-elem"> <%= pplprson %> </span> 
          </p> 
        </div>  
      </div>     
    </div>
  </div>


  <!-- Row 2: Room name and join, end buttons -->
  <div class="">
    <div class="flex justify-between items-center pt-2">
      <div class="flex justify-start items-center">
        <% unless room.hide_name %>
          <p class="text-4xl font-sans inline-block font-light"><%= room.name %></p>  
        <% end %>
      </div>

      <div class="flex justify-end"> 
        <div>

          <%= form_with( id: 'meeting_join_form', url: meeting_join_path(@room, :launch_nonce => @launch_nonce), method: "post") do %>
              <%= button_tag t('default.room.join'),
                    type: 'submit', 
                    id: 'join-room-btn', 
                    class: "font-sans text-center text-white px-4 py-2 w-50 mb-0 border border-bbb-blue bg-bbb-blue rounded hover:bg-darker-bbb-blue", 
                    formtarget: "_blank", 
                    data: {url: meeting_join_path(@room, :launch_nonce => @launch_nonce), room: @room.id} %>
          <% end %> 
        </div>
        <div>
          <% if !@room.use_shared_code && (@user.admin? || @user.moderator?(bigbluebutton_moderator_roles)) %>
            <%= button_tag t('default.room.endmeeting'), 
                type: 'button', 
                class: "font-sans text-center text-red-600 border ml-2 border-red-600 px-4 py-2 w-50 mb-0 bg-white rounded hover:text-white hover:bg-red-600", 
                id: 'end-meeting-btn', 
                style: visible,
                data: {url: meeting_end_path(room, :launch_nonce => @launch_nonce), room: room.id} %>
          <% end %> 
        </div>
      </div>     
    </div>
  </div> 

  <!-- Row 3: Room description -->
  <div class="pt-3 pb-5">
    <% unless room.hide_description %>
      <p class= "leading-loose text-md w-1/2"><%= room.description %></p>
    <% end %>
  </div>

  <hr>

  <!-- recordings -->
  <% if bigbluebutton_recording_enabled %>
    <div class= "">
    <%= render "shared/components/search_bar", subtitle: t("default.room.recordings")%>

      <div class = "flex justify-between items-center rounded-lg border mb-10">
        <table class="w-full max-w-full rounded-lg text-left border-collapse text-sm" >
          <thead class="text-left uppercase border-b rounded-lg bg-gray-100 text-sm text-gray-500 font-sans py-4" >
            <tr>
              <th class="px-6 py-4"><%= t("default.recording.table.name") + "/" + t("default.recording.table.description") %></th>
              <th class="px-6"><%= t("default.recording.table.date") %></th>
              <th class="px-6"><%= t("default.recording.table.duration") %></th>
              <th class="px-6"><%= t("default.recording.table.formats") %></th>
              <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
                <th class="px-2 "></th>
              <% end %>
            </tr>
          </thead>
          <tbody id="recording-table">
            <tr id="no_recordings_found" style="display: none;">
              <td colspan="7" class="text-center h4 p-6 font-weight-normal" >
                <%= t("default.recording.no_matched_recordings", inject: only_public ? t("default.recording.visibility.public").downcase + " "  : "") %>
              </td>
            </tr>
            <% if @recordings.empty? %>
              <tr>
                <td colspan="7" class="text-center h4 p-6 font-weight-normal">
                  <%= t("default.recording.no_recordings", inject: only_public ? t("default.recording.visibility.public").downcase + " "  : "") %>
                </td>
              </tr>
            <% else %>
              <% @recordings.each do |recording| %>
                <% if only_public %>
                  <%= render "shared/components/public_recording_row", recording: recording %>
                <% else %>
                  <%= render "shared/components/recording_row", recording: recording %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
