<%# Params passed to render partial %>
<% [user, room, recording] %>

<tr class="d-flex row tr-row recording-published-<%= recording[:published] %>">
  <td class="col-10 col-md-5 align-middle td-titles" data-search-field="1">
    <div class="item-title">
      <% if recording[:metadata][:name] %>
        <%= recording[:metadata][:name] %>
      <% else %>
        <%= recording[:name] %>
      <% end %>
    </div>
    <div class="item-description" data-search-field="1">
      <div id='recording-description-text' class="text-wrap">
        <%= recording[:metadata][:'bbb-recording-description'] ? recording[:metadata][:'bbb-recording-description'] : nil %>
      </div>
    </div>
  </td>
  <td class="col-6 col-md-3 align-middle">
    <%= format_date(recording[:startTime]) %>
  </td>
  <td class="col-6 col-md-2 align-middle">
    <% duration = recording_duration_secs(recording) %>
    <% if duration > 0 %>
      <%= distance_of_time_in_words(0, duration).capitalize %>
    <% else %>
      <%= t("recordings.duration.less_than_a_minute") %>
    <% end %>
  </td>
  <td class="col-2 col-md-2 align-middle td-dropdown-opts">
    <div class="dropdown dropdown-opts">
      <a href="#" class="dropdown-toggle" id="dropdown-opts-<%= recording[:recordID] %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon material-icons">more_vert</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-opts-<%= recording[:recordID] %>">

        <% if recording[:published] %>
          <% url = playback_url(room, recording[:recordID],
                                recording[:playbacks].find { |p| p[:type] == 'presentation' })
          %>
          <%= link_to t("recordings.playbacks.presentation"), url, class: "dropdown-item", target: "_blank" %>
          <% if can_download_recording?(user, room)%>
            <% url = playback_url(room, recording[:recordID],
                                  recording[:playbacks].find { |p| p[:type] == 'presentation_video' })
            %>
            <%= link_to t("recordings.playbacks.presentation_video"), url, class: "dropdown-item", target: "_blank" %>
          <% end %>

          <div class="dropdown-divider"></div>

          <% playback = recording[:playbacks].find { |p| p[:type] == 'presentation' } %>
          <% if playback.present? %>
            <%=
            link_to t('recordings.playback_link'), '#',
             data: {
               'clipboard-text': playback_url(room, recording[:recordID], playback),
               turbolinks: false,
               'toast-id': '#playback-link-copied-toast'
             },
             class: "dropdown-item copy-to-clipboard"
            %>
          <% end %>

          <% if can_edit?(user, room) %>
            <div class="dropdown-divider"></div>
          <% end %>
        <% end %>

        <% if can_edit?(user, room) %>
          <% if recording[:published] %>
            <%= link_to recording_unpublish_path(room, record_id: recording[:recordID]),
             method: :post,
             data: { confirm: t('recordings.confirm.unpublish') },
             class: "dropdown-item" do %>
              <%= t("recordings.unpublish") %>
            <% end %>
          <% else %>
            <%= link_to recording_publish_path(room, record_id: recording[:recordID]),
             method: :post,
             data: { confirm: t('recordings.confirm.publish') },
             class: "dropdown-item" do %>
              <%= t("recordings.publish") %>
            <% end %>
          <% end %>
          <%= link_to recording_delete_path(room, record_id: recording[:recordID]),
           method: :post,
           data: { confirm: t('recordings.confirm.destroy') },
           class: "dropdown-item" do %>
            <%= t("recordings.destroy") %>
          <% end %>
        <% end %>

      </div>
    </div>
  </td>
</tr>
