<tr>
  <td class="col-5 align-middle">
    <div class="item-title">
      <% if recording[:metadata][:name] %>
        <%= recording[:metadata][:name] %>
      <% else %>
        <%= recording[:name] %>
      <% end %>
    </div>
    <div class="item-description">
      <text id='recording-description-text' class="text-wrap">
        <%= recording[:metadata][:description]? recording[:metadata][:description] : nil %>
      </text>
    </div>
  </td>
  <td class="col-2 align-middle">
    <%= format_date(recording[:startTime]) %>
  </td>
  <td class="col-3 align-middle">
    <%= distance_of_time_in_words(0, recording_duration_secs(recording)).capitalize %>
  </td>
  <td class="col-1 align-middle">
    <% if recording[:published] %>
      <% recording[:playbacks].each do |p| %>
        <%= link_to p[:type].capitalize, p[:url], class: "btn btn-sm btn-primary", target: "_blank" %>
      <% end %>
    <% end %>
  </td>
  <td class="col-1 align-middle">
    <% if can_edit?(@user, @room) %>
      <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
          <i class="fas fa-ellipsis-v px-4"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if recording[:state] == "published" %>
            <%= button_to recording_unpublish_path(@room, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
              <i class="dropdown-icon fas fa-book"></i> <%= t("unpublish") %>
            <% end %>
          <% elsif recording[:state] == "unpublished" %>
            <%= button_to recording_publish_path(@room, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
              <i class="dropdown-icon fas fa-book-open"></i> <%= t("publish") %>
            <% end %>
          <% end %>
          <%= button_to recording_delete_path(@room, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
            <i class="dropdown-icon fas fa-trash-alt"></i> <%= t("delete") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
</tr>
