<tr class="d-flex">
  <td class="col-4"><%= meeting.name %></td>
  <td class="col-3"><%= meeting.start_at %></td>
  <td class="col-2"><%= meeting.duration %></td>
  <td class="col-2">
    <%=
    button_tag t('default.room.join'),
     type: 'button', class: "btn btn-primary join-room-btn",
     data: {
       url: join_room_scheduled_meeting_path(room, meeting),
       room: room.id,
       meeting: meeting.id
     }
    %>
  </td>
  <td class="col-1">
    <% if can_edit?(user, room) %>
      <%=
      link_to '', edit_room_scheduled_meeting_path(room, meeting),
       name: t('default.scheduled_meeting.edit'),
       class: "btn btn-default glyphicon glyphicon-edit"
      %>
      <%=
      link_to '', external_room_scheduled_meeting_path(room, meeting),
       name: t('default.scheduled_meeting.external'),
       class: "btn btn-default glyphicon glyphicon-link"
      %>
      <%=
      link_to '', room_scheduled_meeting_path(room, meeting),
       name: t('default.scheduled_meeting.edit'),
       class: "btn btn-default glyphicon glyphicon-remove",
       method: :delete,
       data: { confirm: t('default.scheduled_meeting.destroy.confirmation') }
      %>
    <% end %>
  </td>
</tr>
