<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<%= form_with(model: room, local: true, class: "form fill", :url => room_path(@room, :launch_nonce => @launch_nonce) ) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group block input-group w-full rounded pt-8">
    <p>
      <%= form.label t('default.room.name') , style: "display: inline" %> 
    </p>
    <%= form.text_field :name, class: "form-control rounded-none rounded input mt-1 block w-full" %>
  </div> 

  <div class="field form-group input-group w-full pt-4">
    <%= form.label t('default.room.description') %>
    <%= form.text_area :description, size: "45x8", class: 'form-control input' %>
  </div>

  <div class="field form-group input-group w-full">
    <%= form.label t('default.room.welcome') %>
    <%= form.text_area :welcome, size: "45x4", class: 'form-control w-full input form-input' %>
  </div>

  <%= form.hidden_field :moderator, value: @room.moderator %>
  <%= form.hidden_field :viewer, value: @room.viewer %>

  <% if bigbluebutton_recording_enabled %>
    <div class="field form-group input-group pt-4">
      <%= form.check_box :recording %>&nbsp;
      <b><%= t('default.room.recording') %></b>&nbsp;
      <i data-toggle="tooltip" title="<%= t('default.room.tooltip.recording') %>">
       <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0zM8.25 9.75A.75.75 0 019 9h.253a1.75 1.75 0 011.709 2.13l-.46 2.066a.25.25 0 00.245.304H11a.75.75 0 010 1.5h-.253a1.75 1.75 0 01-1.709-2.13l.46-2.066a.25.25 0 00-.245-.304H9a.75.75 0 01-.75-.75zM10 7a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </i>
      <br>
    </div>
  <% end %>

  <div class="field form-group input-group">
    <%= form.check_box :wait_moderator, id: 'wait_mod_checkbox' %>&nbsp;
    <b><%= t('default.room.waitmoderator') %></b>&nbsp;
     <i data-toggle="tooltip" title="<%= t('default.room.tooltip.waitmoderator') %>">
       <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0zM8.25 9.75A.75.75 0 019 9h.253a1.75 1.75 0 011.709 2.13l-.46 2.066a.25.25 0 00.245.304H11a.75.75 0 010 1.5h-.253a1.75 1.75 0 01-1.709-2.13l.46-2.066a.25.25 0 00-.245-.304H9a.75.75 0 01-.75-.75zM10 7a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </i>
    <br>
  </div>

  <div class="field form-group input-group">
    <%= form.check_box :all_moderators, id: 'all_mod_checkbox' %>&nbsp;
    <b><%= t('default.room.allmoderators') %></b>&nbsp;
     <i data-toggle="tooltip" title="<%= t('default.room.tooltip.allmoderators') %>">
       <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0zM8.25 9.75A.75.75 0 019 9h.253a1.75 1.75 0 011.709 2.13l-.46 2.066a.25.25 0 00.245.304H11a.75.75 0 010 1.5h-.253a1.75 1.75 0 01-1.709-2.13l.46-2.066a.25.25 0 00-.245-.304H9a.75.75 0 01-.75-.75zM10 7a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
        </svg>
      </i>
    <br>
  </div>

  <div class="actions pt-6">
    <div class = "flex-row">
    <%= form.submit t('default.room.update'), class: "btn-primary m-1 ml-0" %>
    <%= form.button t('default.room.cancel'), class: "btn-secondary m-1", name: "cancel" %>
  </div>
  </div>
<% end %>
