<%= form_with url: join_room_scheduled_meeting_path(@room, @scheduled_meeting), class: "form fill" do |form| %>

  <div class="row">
    <div class="field form-group input-group col-6 offset-3">
      <%= label_tag :first_name, t('default.scheduled_meeting.external.first_name') %>&nbsp;<span class="text-muted small">*Required</span><br>
      <%= text_field_tag :first_name, @first_name, required: true, size: "45", class: "form-control input col-6", readonly: @first_name.present?, autofocus: !@first_name.present? %>
    </div>

    <div class="field form-group input-group col-6 offset-3">
      <%= label_tag :last_name, t('default.scheduled_meeting.external.last_name') %>&nbsp;<span class="text-muted small">*Required</span><br>
      <%= text_field_tag :last_name, @last_name, required: true, size: "45", class: "form-control input col-6", readonly: @last_name.present? %>
    </div>
  </div>

  <div class="row">
    <div class="actions col-6 offset-3">
      <%= submit_tag t('default.scheduled_meeting.external.join'), class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
