<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<tr>
  <td class="text-left">
    <% if recording[:published] %>
      <% recording[:playbacks].each do |p| %>
        <%= link_to p[:type].capitalize, p[:url], class: "btn btn-sm btn-primary", target: "_blank" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <div id="recording-title" class="form-inline edit_hover_class" data-recordid="<%= recording[:recordID] %>">
      <% if recording[:metadata][:name] %>
          <text id='recording-title-text' class="text-wrap recording-text"><%= recording[:metadata][:name] %></text>
      <% else %>
        <text id='recording-title-text' class="text-wrap recording-text"><%= recording[:name] %></text>
      <% end %>
      <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
        <a><i id="edit-record-title" class="fa fa-edit align-top ml-2" data-edit-recordid="<%= recording[:recordID] %>"></i></a>
      <% end %>
    </div>
  </td>
  <td class="text-left">
    <div id="recording-description" class="form-inline edit_hover_class" data-recordid="<%= recording[:recordID] %>" data-launch-nonce="<%= @launch_nonce %>">
      <text id='recording-description-text' class="text-wrap recording-text"><%= recording[:metadata][:description] %></text>
      <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
        <a><i id="edit-record-description" class="fa fa-edit align-top ml-2" data-edit-recordid="<%= recording[:recordID] %>"></i></a>
      <% end %>
    </div>
  </td>
  <td class="text-left">
    <div class="small text-muted">
      <%= recording_date(recording[:startTime]) %>
    </div>
  </td>
  <td class="text-left">
    <%= recording_length(recording[:playbacks]) %>
  </td>
  <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
    <td class="pull-right">
      <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon">
          <i class="fas fa-ellipsis-v px-4"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if recording[:published] %>
            <%= button_to recording_unpublish_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
              <i class="dropdown-icon fas fa-book"></i> <%= t("default.recording.action.unpublish") %>
            <% end %>
          <% else %>
            <%= button_to recording_publish_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
              <i class="dropdown-icon fas fa-book-open"></i> <%= t("default.recording.action.publish") %>
            <% end %>
          <% end %>
          <%= button_to recording_delete_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "dropdown-item btn-block btn btn-default" do %>
            <i class="dropdown-icon fas fa-trash-alt"></i> <%= t("default.recording.action.delete") %>
          <% end %>
        </div>
      </div>
    </td>
  <% end %>
</tr>
