<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<tr class="border-b text-left ">
  <td class="p-0">
    <div class="text-left font-sans px-8 py-4 ">
      <% can_edit = @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
      <% if can_edit %>
        <% hover = 'bg-gray-100' %>
        <% focus = 'bg-white' %>
      <% end %>
      <div id="recording-title" class="form-inline font-bold edit_hover_class" 
           data-recordid="<%= recording[:recordID] %>" 
           data-launch-nonce="<%= @launch_nonce %>" 
           data-can-edit="<%=can_edit%>">
          <% if recording[:metadata][:name] %>
              <text id='recording-title-text' class="text-wrap input recording-text"><%= recording[:metadata][:name] %></text>
          <% else %>
            <text id='recording-title-text' class="text-wrap input recording-text"><%= recording[:name] %></text>
          <% end %>
           <a>
            <svg id="edit-record-description" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4  bg-white hover:text-blue-700 hover:bg-white text-gray-700" data-edit-recordid="<%= recording[:recordID] %>">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
            </svg>
          </a>  

      </div>
      <div id="recording-description" class="form-inline edit_hover_class" 
           data-recordid="<%= recording[:recordID] %>" 
           data-launch-nonce="<%= @launch_nonce %>"
           data-can-edit="<%= can_edit %>">
        <text id='recording-description-text' class="text-wrap recording-text"><%= recording[:metadata][:description] %></text>
        <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>  
          <a>
            <svg id="edit-record-description" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4  bg-white hover:text-blue-700 hover:bg-white text-gray-700" data-edit-recordid="<%= recording[:recordID] %>">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
            </svg>
          </a>  
        <% end %>
      </div>
    </div>
  </td>

  <td class="p-0 text-left font-sans px-8 py-4">
    <%= recording_date(recording[:startTime]) %>
  </td>

  <td class="p-0 text-left font-sans px-8 py-4">
    <%= recording_length(recording[:playbacks]) %>
  </td>

  <td class="p-0 text-left px-8 py-4" style='white-space: nowrap'>
    <div class="flex items-end ">
      <% if recording[:published] %>
        <% sorted_playbacks = recording[:playbacks].sort_by { |hsh| hsh[:type] }%>
        <% sorted_playbacks.each do |p| %>
          <% # Don't show playback if user isn't moderator and the type isn't set as public %>
          <% unless !(@user.admin? || @user.moderator?(bigbluebutton_moderator_roles)) && !bigbluebutton_recording_public_formats.include?(p[:type]) %>
            <% if p[:type] == 'presentation' %>
              <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type], target: "_blank", class: "mr-4 hover:bg-white hover:text-blue-700" do %>
                <div class="bg-gray-200 p-3 rounded hover:bg-gray-300">
                  <div class= "bg-bbb-blue rounded-full" >
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 bg-bbb-blue text-white m-2 ml-2.5 md-18" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                  </div>
                </div>  
              <% end %>
            <% elsif p[:type] == 'statistics' %>
              <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type], target: "_blank" , class: "mr-4 hover:bg-white hover:text-blue-700 " do %>
                <div class="bg-gray-200 p-3 rounded hover:bg-gray-300">
                  <div class= "bg-bbb-blue rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 bg-bbb-blue text-white m-2 ml-2.5 md-18" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                    </svg>
                  </div>
                </div>
              <% end %>
            <% elsif p[:type] == 'video' %>
              <%= link_to p[:url], :'data-toggle' => 'tooltip' , title: p[:type],  target: "_blank", class: "hover:bg-white hover:text-blue-700" do %>
                <div class="bg-gray-200 p-3 rounded hover:bg-gray-300">
                  <div class= "bg-bbb-blue rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg"  class="h-8 w-8 bg-bbb-blue text-white m-2 ml-2.5 md-18" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  </div>
                </div>
              <% end %> 
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </td>
    
  <% if @user.admin? || @user.moderator?(bigbluebutton_moderator_roles) %>
    <td class="p-0 text-left mx-6 mr-2 px-2 my-4">
      <div class="item-action dropdown place-items-center items-center">
      <% dropdown_id = "dropdown#{recording[:recordID]}"%>
        <a href="javascript:void(0)" id="dropdownDefault" type="button"  data-dropdown-toggle=<%="dropdown#{recording[:recordID]}"%> class="bg-white no-underline text-gray-700 hover:text-blue-700 hover:bg-white">
          <%# vertical elipses icon %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </a>        
        <div aria-labelledby="dropdownDefault" id=<%="dropdown#{recording[:recordID]}"%> class="hidden dropdown-content dropdown-menu dropdown-menu-right w-52" aria-labelledby="dropdownDefault">
                 
          <% if recording[:published] %>             
            <%= link_to recording_unpublish_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "block px-4 pl-5 py-3  hover:bg-bbb-blue hover:text-white font-sans text-xl hover:no-underline" do %>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
              </svg> <%= t("default.recording.action.unpublish") %>
            <% end %>       
          <% else %>
            <%= link_to recording_publish_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "block px-4 pl-5 py-3  hover:bg-bbb-blue hover:text-white font-sans text-xl hover:no-underline" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg></i>&nbsp; <%= t("default.recording.action.publish") %>
            <% end %>
          <% end %>
          <%= link_to recording_delete_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "block px-4 pl-5 py-3 hover:bg-bbb-blue hover:text-white font-sans text-xl hover:no-underline" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg> <%= t("default.recording.action.delete") %>
          <% end %>
          <% if recording[:protected] != nil # check if protected field exists %>
            <% if recording[:protected] == "true" %>
                <%= link_to recording_unprotect_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "block px-4 pl-5 py-3 hover:bg-bbb-blue hover:text-white font-sans text-xl hover:no-underline" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                  </svg>&nbsp; <%= t("default.recording.action.unprotect") %>
                <% end %>
            <% else %>
                <%= link_to recording_protect_path(@room, :launch_nonce => @launch_nonce, record_id: recording[:recordID]), method: :post, class: "block px-4 pl-5 py-3 hover:bg-bbb-blue hover:text-white font-sans text-xl hover:no-underline" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                  </svg>&nbsp; <%= t("default.recording.action.protect") %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </td>
  <% end %>
</tr>
