<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= Rails.application.config.app_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="running-polling-delay" content="<%= Rails.application.config.running_polling_delay %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet", media: "all" %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/theme', theme: theme_defined %>
  </head>

  <body lang="<%= I18n.locale %>"
        data-controller="<%= params[:controller] %>"
        data-action="<%= params[:action] %>"
        data-use-cable="<%= Rails.configuration.cable_enabled %>"
        class="<%= theme_class %>">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
