<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.config.app_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if theme_defined? %>
      <%= stylesheet_link_tag 'theme-application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet", media: "all" %>
    <% end %>
  </head>

  <body lang="<%= I18n.locale %>"
        data-controller="<%= params[:controller] %>"
        data-action="<%= params[:action] %>"
        class="<%= theme_class %>">
    <%= yield %>
  </body>
</html>
